<div class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-3" routerLink="product">
        <div class="panel">
          <p class="is-marginless">
            <img src="https://placehold.it/300x300">
          </p>
          <div class="panel-block">
            <div class="columns">
              <div class="column">
                <div class="panel-block-item">2 views</div>
              </div>
              <div class="column has-text-right">
                <div class="panel-block-item">2
                  <i class="fa fa-heart"></i>
                </div>
                <div class="panel-block-item">2d
                  <i class="fa fa-calendar"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-3">
        <div class="panel">
          <p class="is-marginless">
            <img src="https://placehold.it/300x300">
          </p>
          <div class="panel-block">
            <div class="columns">
              <div class="column">
                <div class="panel-block-item">2 views</div>
              </div>
              <div class="column has-text-right">
                <div class="panel-block-item">2
                  <i class="fa fa-heart"></i>
                </div>
                <div class="panel-block-item">2d
                  <i class="fa fa-calendar"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-3">
        <div class="panel">
          <p class="is-marginless">
            <img src="https://placehold.it/300x300">
          </p>
          <div class="panel-block">
            <div class="columns">
              <div class="column">
                <div class="panel-block-item">2 views</div>
              </div>
              <div class="column has-text-right">
                <div class="panel-block-item">2
                  <i class="fa fa-heart"></i>
                </div>
                <div class="panel-block-item">2d
                  <i class="fa fa-calendar"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-3">
        <div class="panel">
          <p class="is-marginless">
            <img src="https://placehold.it/300x300">
          </p>
          <div class="panel-block">
            <div class="columns">
              <div class="column">
                <div class="panel-block-item">2 views</div>
              </div>
              <div class="column has-text-right">
                <div class="panel-block-item">2
                  <i class="fa fa-heart"></i>
                </div>
                <div class="panel-block-item">2d
                  <i class="fa fa-calendar"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="columns">
      <div class="column is-3">
        <div class="panel">
          <p class="is-marginless">
            <img src="https://placehold.it/300x300">
          </p>
          <div class="panel-block">
            <div class="columns">
              <div class="column">
                <div class="panel-block-item">2 views</div>
              </div>
              <div class="column has-text-right">
                <div class="panel-block-item">2
                  <i class="fa fa-heart"></i>
                </div>
                <div class="panel-block-item">2d
                  <i class="fa fa-calendar"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-3">
        <div class="panel">
          <p class="is-marginless">
            <img src="https://placehold.it/300x300">
          </p>
          <div class="panel-block">
            <div class="columns">
              <div class="column">
                <div class="panel-block-item">2 views</div>
              </div>
              <div class="column has-text-right">
                <div class="panel-block-item">2
                  <i class="fa fa-heart"></i>
                </div>
                <div class="panel-block-item">2d
                  <i class="fa fa-calendar"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-3">
        <div class="panel">
          <p class="is-marginless">
            <img src="https://placehold.it/300x300">
          </p>
          <div class="panel-block">
            <div class="columns">
              <div class="column">
                <div class="panel-block-item">2 views</div>
              </div>
              <div class="column has-text-right">
                <div class="panel-block-item">2
                  <i class="fa fa-heart"></i>
                </div>
                <div class="panel-block-item">2d
                  <i class="fa fa-calendar"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-3">
        <div class="panel">
          <p class="is-marginless">
            <img src="https://placehold.it/300x300">
          </p>
          <div class="panel-block">
            <div class="columns">
              <div class="column">
                <div class="panel-block-item">2 views</div>
              </div>
              <div class="column has-text-right">
                <div class="panel-block-item">2
                  <i class="fa fa-heart"></i>
                </div>
                <div class="panel-block-item">2d
                  <i class="fa fa-calendar"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="columns">
      <div class="column is-3">
        <div class="panel">
          <p class="is-marginless">
            <img src="https://placehold.it/300x300">
          </p>
          <div class="panel-block">
            <div class="columns">
              <div class="column">
                <div class="panel-block-item">2 views</div>
              </div>
              <div class="column has-text-right">
                <div class="panel-block-item">2
                  <i class="fa fa-heart"></i>
                </div>
                <div class="panel-block-item">2d
                  <i class="fa fa-calendar"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-3">
        <div class="panel">
          <p class="is-marginless">
            <img src="https://placehold.it/300x300">
          </p>
          <div class="panel-block">
            <div class="columns">
              <div class="column">
                <div class="panel-block-item">2 views</div>
              </div>
              <div class="column has-text-right">
                <div class="panel-block-item">2
                  <i class="fa fa-heart"></i>
                </div>
                <div class="panel-block-item">2d
                  <i class="fa fa-calendar"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-3">
        <div class="panel">
          <p class="is-marginless">
            <img src="https://placehold.it/300x300">
          </p>
          <div class="panel-block">
            <div class="columns">
              <div class="column">
                <div class="panel-block-item">2 views</div>
              </div>
              <div class="column has-text-right">
                <div class="panel-block-item">2
                  <i class="fa fa-heart"></i>
                </div>
                <div class="panel-block-item">2d
                  <i class="fa fa-calendar"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-3">
        <div class="panel">
          <p class="is-marginless">
            <img src="https://placehold.it/300x300">
          </p>
          <div class="panel-block">
            <div class="columns">
              <div class="column">
                <div class="panel-block-item">2 views</div>
              </div>
              <div class="column has-text-right">
                <div class="panel-block-item">2
                  <i class="fa fa-heart"></i>
                </div>
                <div class="panel-block-item">2d
                  <i class="fa fa-calendar"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
