<nav class="nav has-shadow">
  <div class="nav-left">
    <a class="nav-item is-tab logo" routerLink="/">
      Angular Progressive
    </a>
  </div>

  <div class="nav-center">
    <a class="nav-item is-tab" href="https://github.com">
      <span class="icon">
        <i class="fa fa-github"></i>
      </span>
    </a>
    <a class="nav-item is-tab" href="https://www.youtube.com">
      <span class="icon">
        <i class="fa fa-youtube"></i>
      </span>
    </a>
    <a class="nav-item is-tab" href="https://twitter.com">
      <span class="icon">
        <i class="fa fa-twitter"></i>
      </span>
    </a>
  </div>

  <span class="nav-toggle" (click)="toggleCollapse()" [ngClass]="{'is-active': show}">
    <span></span>
    <span></span>
    <span></span>
  </span>

  <div class="nav-right nav-menu" [ngClass]="{'is-active': show}">
    <a class="nav-item is-tab" routerLink="/uploads"> Uploads </a>
    <a class="nav-item is-tab" routerLink="/login"> Login </a>
  </div>
</nav>
